{%- macro bind_config(data) -%}
  {%- if data is mapping -%}
    {%- for key, value in data.iteritems() -%}
      {{ key }} {{ bind_config(value) }}
    {%- endfor -%}
  {%- else -%}
    {{ data }}{{ ';\n'}} 
  {%- endif -%}
{%- endmacro -%}
