{%- set key = 0 -%}
{%- set value = 1 -%}
{%- macro bind_config(data) -%}
  {%- if data is string or data is number -%}
    {{ data }}{{ ';\n'}}
  {%- elif data is mapping -%}
    {%- for item in data|dictsort -%}
      {{ item[key] }} {{ bind_config(item[value]) }}
    {%- endfor -%}
  {%- else -%}
    {%- for item in data -%}
      {{ bind_config(item) }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}
