{%- set key = 0 -%}
{%- set value = 1 -%}
{%- macro bind_config(data, indent=0) -%}
  {%- if data is string or data is number -%}
    {{ data|string|indent(indent, True) }}{{ ';\n'}}
  {%- elif data is mapping -%}
    {%- for item in data|dictsort -%}
      {{ item[key]|indent(indent, True) }}{{ ' ' }}
      {%- if item[value] is string or item[value] is number -%}
        {{ bind_config(item[value]) }}
      {%- else -%}
        {{ '{\n' }}{{ bind_config(item[value], indent=indent+2) }}{{ '};'|indent(indent, True) }}{{ '\n' }}
      {%- endif -%}
    {%- endfor -%}
  {%- else -%}
    {%- for item in data -%}
      {{ bind_config(item, indent) }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}
